/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
/* my code */
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  background-color: #00040f;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  padding: 0px 135px;
  width: 100%;
  background-color: #00040f;
}

.nav-container {
  display: flex;
  gap: 56px;
}
main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 135px;
  width: 100%;
  padding: top 90px;
}
.main-container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  padding: 0px 135px;
}
.section-container {
  height: 200vh;
}
section {
  scroll-margin-top: 100px;
}
/* responsive */
@media (width: 800px;) {
  header {
    background-color: red;
  }
}
